<div class='select2-result-repository clearfix'>
  <div class='select2-result-repository__meta'>
    <div class='select2-result-repository__title'><%= producto.codigo %></div>
    <div class='select2-result-repository__description'><%= producto.nombre %> (<%= producto.unidad %>)</div>
  </div>
</div>
