<div class="container">
  <div class="text-center">
    <div class="page-header">
      <h1>Garabello</h1>
    </div>
    <%= image_tag 'logo.png', alt: 'Trenes Argentinos' %>
    <hr />
    <p class="lead">Sistema en desarrollo - <%= link_to 'iniciar sesión', new_user_session_path %></p>
  </div>
</div>
