<!-- Content Header (Page header) -->
<section class="content-header">
  <ul class="nav nav-pills">
    <li><%= link_to fa_icon(:cog, text: Tarea.model_name.human), admin_reportes_tareas_path %></li>
    <li><%= link_to fa_icon('thumb-tack', text: Recurso.model_name.human), admin_reportes_recursos_path %></li>
  </ul>
</section>
