//= require bootstrap
//= require bootstrap-daterangepicker
//= require font-awesome
//= require ionicons
//= require select2
//= require admin/AdminLTE
//= require admin/skins/_all-skins
//= require admin/dataTables.bootstrap
//= require admin/plugins/icheck/square/blue
//= require jquery-ui
//= require jquery.fileupload-ui

table.table tbody td { vertical-align: middle !important; }

textarea.textile_editor { font-family: "Roboto Mono", monospace; margin-top: 5px; }

form label { cursor: pointer; }

form label.boolean div,
form .radio label div,
form .checkbox label div { margin-right: 5px; }

form .radio label, form .checkbox label { padding-left: 0px; }

.fileupload-buttonbar button.delete { display: none; }
.fileupload-buttonbar div.icheckbox_square-red { display: none; }

.table-form .form-group { margin-bottom: 0px; }

.header-message {
  padding: 20px 30px; z-index: 100; font-size: 16px; position: fixed; width: 100%;
  p.info {
    color: rgba(255, 255, 255, 0.9); display: inline-block;
    strong { margin-right: 10px; display: block; }
    a { color: #fff; }
    a:hover { color: #ccc; }
    .fa-sm { font-size: 14px; }
    .popover { color: #333; }
  }
}
.dotacion-incorrecta { text-decoration: underline; color: red; font-weight: bold; }

table.table th { vertical-align: middle !important; }
.ver-detalle:hover { color: #000 !important; }
.border-left { border-left: 3px solid #aaa !important; }

.text-muted { color: #777 !important; }

.select2 { width: 100% !important; }

ul.nav-tabs .btn-submit { margin-top: 6px; }

#cuadrilla .badge-sector { margin-top: 8px; }
#cuadrilla .modal-body h4 { line-height: 1.5em; }

@media (min-width: 768px) {
  .wrapper-programa { margin-top: 95px; }
}

@media (max-width: 767px) {
  .header-message { position: static; }
  .content { padding: 15px 0px; }
  .box { border-radius: 0px; }
}

.select2-container--default .select2-results > .select2-results__options { max-height: 400px; }

p.sello {
  border-top: 1px dashed #333;
  text-align: center;
  margin-top: 86px;
  padding-top: 5px;
}

.popover {
  text-align: center;
  .popover-title { background-color: #dff0d8; }
}

.text-right { text-align: right !important; }
